<nav class="navbar" id="navbar">
  <div class="nav-container">
    <a href="index.html" class="logo">SR</a>
    
    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <ul class="nav-links" id="nav-links">
      <li><a href="../undergraduate_UCLA/index.html">Undergraduate</a></li>
      <li><a href="../graduate_GeorgiaTech/index.html">Graduate</a></li>
      <li><a href="../professional/index.html">Professional</a></li>
      <li><a href="../personal/index.html">Personal</a></li>
      <li><a href="../contact/index.html">Contact</a></li>
    </ul>
  </div>
</nav>
